<?xml version="1.0"?>
<!---->

<robot name="carma" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:property name="carma_namespace" value="$(arg carma_namespace)"/> -->

  <!-- Manipulator arm -->
  <xacro:property name="mass_link1" value="0.0578000000000000" /> <!-- [kg] -->
  <xacro:property name="mass_link2" value="0.0463000000000000" /> <!-- [kg] -->
  <xacro:property name="mass_link3" value="0.0358000000000000" /> <!-- [kg] -->
  <xacro:property name="mass_link4" value="0.0250000000000000" /> <!-- [kg] -->
  <xacro:property name="mass_end_effector" value="0.038" /> <!-- [kg] -->
  
  <!-- TODO: low values here screw up simulation -->
  <!-- <xacro:property name="inertia_zz_link1" value="0.000253151228084876" />   -->
  <!-- <xacro:property name="inertia_zz_link2" value="0.000108770447476707" />   -->
  <!-- <xacro:property name="inertia_zz_link3" value="3.47458286569986e-05" />   -->
  <!-- <xacro:property name="inertia_zz_link4" value="3.42053994711421e-05" />   -->
  <xacro:property name="inertia_zz_link1" value="0.00253151228084876" /> <!-- [kg*m^2] -->
  <xacro:property name="inertia_zz_link2" value="0.00108770447476707" /> <!-- [kg*m^2] -->
  <xacro:property name="inertia_zz_link3" value="3.47458286569986e-03" /> <!-- [kg*m^2] -->
  <xacro:property name="inertia_zz_link4" value="3.42053994711421e-03" /> <!-- [kg*m^2] -->

  <xacro:property name="length_x_link1" value="0.173000000000000" /> <!-- [m] -->
  <xacro:property name="length_x_link2" value="0.122000000000000" /> <!-- [m] -->
  <xacro:property name="length_x_link3" value="0.0711000000000000" /> <!-- [m] -->
  <xacro:property name="length_x_link4" value="0.0200000000000000" /> <!-- [m] -->
  <xacro:property name="length_x_end_effector" value="0.05" /> <!-- [m] -->
  <xacro:property name="width_link1" value="0.069" /> <!-- [m] -->
  <xacro:property name="width_link2" value="0.055" /> <!-- [m] -->
  <xacro:property name="width_link3" value="0.035" /> <!-- [m] -->
  <xacro:property name="width_link4" value="0.028" /> <!-- [m] -->
  <xacro:property name="thickness" value="0.028" /> <!-- [m] -->
  <xacro:property name="diameter_end_effector" value="0.018" /> <!-- [m] -->
  <xacro:property name="manipulator_position_z" value="-0.0" /> <!-- [m] -->
  <!-- chosen as a tenth of the friction... -->
  <xacro:property name="damping" value="0.03" /> <!-- [(N*m)/(rad/s)] -->
  <!-- chosen as half of the torque the base joint requires to keep the arm horizontal... -->
  <xacro:property name="friction" value="0.3" /> <!-- [N*m] -->
  <!-- effort: gearmotor torque = 5 kg*cm, bevel gear ratio is 1:2, so 1 N*m -->
  <xacro:property name="effort" value="1" /> <!-- [N*m] -->


  <!-- Included URDF Files -->
  <xacro:include filename="$(find manipulator_tether_lifting)/urdf/carma/macro_carma.xacro"/>

  <!-- CARMA -->
  <xacro:carma
    robot_namespace="${carma_namespace}"
    mass_link1="${mass_link1}"
    mass_link2="${mass_link2}"
    mass_link3="${mass_link3}"
    mass_link4="${mass_link4}"
    mass_end_effector="${mass_end_effector}"
    inertia_zz_link1="${inertia_zz_link1}"
    inertia_zz_link2="${inertia_zz_link2}"
    inertia_zz_link3="${inertia_zz_link3}"
    inertia_zz_link4="${inertia_zz_link4}"
    length_x_link1="${length_x_link1}"
    length_x_link2="${length_x_link2}"
    length_x_link3="${length_x_link3}"
    length_x_link4="${length_x_link4}"
    length_x_end_effector="${length_x_end_effector}"
    length_y_link1="${thickness}"
    length_y_link2="${thickness}"
    length_y_link3="${thickness}"
    length_y_link4="${thickness}"
    length_y_end_effector="${thickness}"
    length_z_link1="${width_link1}"
    length_z_link2="${width_link2}"
    length_z_link3="${width_link3}"
    length_z_link4="${width_link4}"
    length_z_end_effector="${width_link4}"
    color="White"
    damping="${damping}"
    friction="${friction}"
    effort="${effort}">
  </xacro:carma>

</robot>
