<?xml version="1.0"?>
<!-- 

  carma with end-effector as root link, and attached to world (end-effector attached to world)

-->

<robot name="carma_on_ceiling" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="namespace" value="$(arg namespace)"/>

  <xacro:property name="carma_namespace" value="${namespace}/carma"/>
  <xacro:include filename="$(find manipulator_tether_lifting)/urdf/carma/base_carma1.xacro"/>

  <link name="world">
  </link>

  <joint name="${namespace}/carma/joint1" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="${namespace}/carma/link5"/>
   </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!-- <robotNamespace>${namespace}</robotNamespace> -->
      <!-- <robotParam>${namespace}/robot_description</robotParam> -->
      <robotNamespace></robotNamespace>
    </plugin>
  </gazebo>

</robot>