<launch>

  <arg name="model_name" default="carma_tether_lifting"/>
  <arg name="model" default="$(find manipulator_tether_lifting)/urdf/carma/base_uavs_carma_lifting.xacro"/>

  <!-- <arg name="mav_model" default="neo"/> -->
  <arg name="mav_model" default="firefly"/>
  <arg name="object_mass" default="0.1"/>
  <arg name="object_length" default="1.0"/>
  <arg name="contact_point_carma" default="0.5"/>
  <arg name="contact_point_cable" default="-0.5"/>
  <arg name="cable_length" default="0.4"/>

  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg model_name)" />
  <arg name="paused" value="true"/>

  <!--<env name="GAZEBO_MODEL_PATH" value="$(find rotors_gazebo)/models"/> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic.world" />
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="$(arg paused)"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg model_name)">

    <include file="$(find manipulator_tether_lifting)/launch/spawn_uavs_carma_lifting.launch">
      <arg name="model_name" value="$(arg model_name)" />
      <arg name="model" value="$(arg model)"/>
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>

      <arg name="mav_model" value="$(arg mav_model)"/>
      <arg name="object_mass" value="$(arg object_mass)"/>
      <arg name="object_length" value="$(arg object_length)"/>
      <arg name="contact_point_carma" value="$(arg contact_point_carma)"/>
      <arg name="contact_point_cable" value="$(arg contact_point_cable)"/>
      <arg name="cable_length" value="$(arg cable_length)"/>

    </include>
    
  </group>


  <arg name="uav_odometry" value="uav_odometry"/>
  <arg name="reference_position" value="reference_position"/>
  <arg name="fa_disturbance_estimate" value="fa_disturbance_estimate"/>
  <arg name="file_name" default="file"/>
  <arg name="playing_back" default="false"/>
  <arg name="record" default="false" />
  <!-- ################################################################### -->
  <!-- ##                     Controller for UAV_1                      ## -->
  <!-- ################################################################### -->
  <group ns="firefly1">

    <param name="partner_uav_odometry" type="str" value="/$(arg model_name)/uav2/ground_truth/odometry"/>

     <!-- remap topic name -->
     <remap from="$(arg uav_odometry)" to="/$(arg model_name)/uav1/ground_truth/odometry"/>
     <!-- <remap from="$(arg uav_odometry)" to="ground_truth/odometry"/> -->
     <remap from="firefly_motor_speed" to="/$(arg model_name)/uav1/command/motor_speed"/>
     <!-- <remap from="firefly_motor_speed" to="command/motor_speed"/> -->
 
    <param name="uav_odometry" type="str" value="$(arg uav_odometry)"/>
    <param name="reference_position" type="str" value="$(arg reference_position)"/>
    <param name="fa_disturbance_estimate" type="str" value="$(arg fa_disturbance_estimate)"/>
    <param name="playing_back" type="bool" value="$(arg playing_back)"/>

    <!-- Controller Node -->
    <include file="$(find quad_control)/launch/firefly_parameters.launch" />
    <include file="$(find quad_control)/launch/firefly_control_parameters.launch" />
    <node pkg="quad_control" name="controller_firefly" type="cycle_quad_control_mission.py" output="screen"/>


  </group>


  <!-- ################################################################### -->
  <!-- ##                     Controller for UAV_2                      ## -->
  <!-- ################################################################### -->
  <group ns="firefly_2">

    <param name="partner_uav_odometry" type="str" value="/$(arg model_name)/uav1/ground_truth/odometry"/>

     <!-- remap topic name -->
     <remap from="$(arg uav_odometry)" to="/$(arg model_name)/uav2/ground_truth/odometry"/>
     <!-- <remap from="$(arg uav_odometry)" to="ground_truth/odometry"/> -->
     <remap from="firefly_motor_speed" to="/$(arg model_name)/uav2/command/motor_speed"/>
     <!-- <remap from="firefly_motor_speed" to="command/motor_speed"/> -->
 
    <param name="uav_odometry" type="str" value="$(arg uav_odometry)"/>
    <param name="reference_position" type="str" value="$(arg reference_position)"/>
    <param name="fa_disturbance_estimate" type="str" value="$(arg fa_disturbance_estimate)"/>
    <param name="playing_back" type="bool" value="$(arg playing_back)"/>

    <!-- Controller Node -->
    <include file="$(find quad_control)/launch/firefly_parameters.launch" />
    <include file="$(find quad_control)/launch/firefly_control_parameters.launch" />
    <node pkg="quad_control" name="controller_firefly" type="cycle_quad_control_mission.py" output="screen"/>

  </group>

</launch>